body, *{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.container{
    display: flex;
    flex-direction: column;
}

/*Barra de menu superior*/
.top-nav{
    display: flex;
    flex-direction: row;
    padding: 13px;
    justify-content: flex-end;
    flex-grow: 1;
}

.buttonApps>a{
    width: 48px;
    height: 48px;
    padding: 5px;
    color: gray;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-menu, .item-menu a{
 padding: 0 6px;
 color: black;
 text-decoration: none;
 align-items: center;
 margin: 0;
}
.item-menu a:hover{
    text-decoration: underline;
}

.pic{
    border-radius: 50%;
    align-self: center;
    border: 3px solid white;
    -webkit-transition: border 0.2s;
}

.pic:hover{
    border: 3px solid rgb(221, 221, 221);
    -webkit-transition: border 0.2s;
}


/*Barra central*/

.barracentral{
 margin: auto;
}

.buttons{
    margin: auto;
    padding: 25px;
    justify-content: space-evenly;
}

.btn_buscar {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 8px;
    font-size: 14px;
}

.btn_buscar:hover {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(201, 199, 199);
    border-radius: 5px;
    box-shadow: 0px 0.5px 1px rgb(221, 221, 221);
}

.barraabajo{

}

.footer{

}

@media (max-width:320){

}

/* body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
}
.flex-top-container{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.menu{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.flexalign{
    align-items: center;
}

.logo{
    width: auto;
    margin: auto;
}

.buttonApps>a{
    width: 32px;
    height: 32px;
    color: gray;
    border-radius: 50%;
    background: rgb(221, 221, 221);
}

.pic{
    border-radius: 50%;
    align-self: center;
    border: 3px solid white;
    -webkit-transition: border 0.2s;
}

.pic:hover{
    border: 3px solid rgb(221, 221, 221);
    -webkit-transition: border 0.2s;
}

input[type=text]{
    position: relative;
    width: 550px;
    padding: 8px 10px;
    margin: 8px 0px;
    appearance: none;
    outline: 0;
}

.gglbr{
width: 80%;
border: none;
}

.busca{
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: darkgrey;
}

input{
    border: none;
}

.content-center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 3;
}

.lupa{
    position: relative;
    padding-left: 30px;
}

.searchalign{
    margin: auto;
    margin-top: 25px;
}


#barrabusca {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 30px;
    }

.thefooter{
    height: 120px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.menufoot{
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 8px 10px 8px 10px;
    bottom: 0px;
}

.alignself{
    align-self: center;
}
.paddivtop > a{
    color: black;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}

.paddivbot > a{
    padding: 0px 15px 0px 15px;
    margin: 0px;
    color: rgb(130, 130, 130);
}

a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.lnkclr{
    color: rgb(130, 130, 130);
}



.bargray{
    background-color: rgb(201, 199, 199);
}

@media screen {
    
} */